{% include 'header.html' %}
    <div id="myCarousel" class="carousel slide">
     
    
    </div>
    <div class="container marketing">


      <div class="featurette">
      <img class="featurette-image pull-right" src="/static/img/examples/LOGO2.png" height="400" width="400" >
        <h2 class="featurette-heading"><u>About The Horizon Computer Academy</u><span class="muted"></span></h2>
        <p class="lead"><font size="5">Horizon Computer Academy was established in the year 2014.  It is one of the premiere training Institute in IT Networking, Multimedia, Software & telecommunication technologies. Syllabus of the Institute offered courses are unique to some extent. A blend of theoretical exercise and real life project oriented training or field training aided by exposure on the latest technology & products ensures that the students develops the knowledge that is required for today and futuristic technologies. HCA is one of the best I.T. Training Institute in Kolkata, India .</font></p>
      </div>
      <hr class="featurette-divider">
      <!FOOTER>
      <footer class="footer1">
        <p class="pull-right"><a href="/about/">Back to top</a></p>
        <p>&copy; 2014 Horizon Computer Academy, Kolkata &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
      </footer>
{% include 'foot.html' %}
