{% include 'hrd.html' %}
    <div id="myCarousel" class="carousel slide">
      <div class="carousel-inner">
        </div>
    </div>
 <div class="container marketing">

<div class="featurette">
        <h2 class="featurette-heading"><u>Our Courses</u><span class="muted"></span></h2>
        <p class="lead"><font size="5">C-Programming (Duration: 8 Weeks)</font></p>
      <table >
<tr>
<th>C-Programming (Duration: 8 Weeks)</th>
</tr>
<tr>
<td>
<table >
<tr>
<td>
<h5>Introduction to “ C ” Language</h5>
<p><ul>
   <li> Data types </li>
     <li>Indentation </li>
            <ul><li>If else </li></ul>
     <li>Operators </li>
     <li>The “WHILE” Loop </li>
     <li>The “For “ Loop </li>
     <li>Nested Loop Statements </li>
     <li>The “BREAK” & “CONTINUE” Statement </li>
       <ul> <li> Switch case default & break </li></ul>
     <li>Bitwise operators </li>
</ul></p>
<h5>Functions</h5>
<p><ul>
    <li>Introduction to Functions</li>
    <li>Need for Functions</li>
    <li>Standard & User defined Functions</li>
    <li>What is header file</li>
    <li>How to create our own header file</li>
    <li>Difference between source file & exe file</li>
    <li>How to create exe file</li>
    <li>Defining & Calling Functions</li>
    <li>Storage Classes</li>
        <ul><li>Automatic Storage Classes</li>
        <li>Register Storage Classes</li>
        <li>Static Storage Classes</li>
        <li>External Storage Classes</li></ul>
    <li>Pass by Value, pass by Reference</li>
    <li>Return by value & return by address</li>
    <li>Recursive Functions</li>
</ul></p>
<h5>Arrays</h5>
<p><ul>
    <li>Introduction to Arrays</li>
    <li>Arrays with pointers</li>
    <li>Arrays with functions</li>
    <li>Types of Arrays</li>
    <li>One Dimensional Arrays</li>
    <li>Two Dimensional Arrays</li>
    <li>Multi Dimensional Arrays</li>
</ul></p>
<h5>Pointers</h5>
<p><ul>
   <li> Memory concept</li>
    <li>Pointers to variable</li>
    <li>Pointers to pointers</li>
    <li>Pointers with operation</li>

</ul></p>
</td>
<td>
<h5>Strings</h5>
<p><ul>
    <li>Char pointers & array (String)</li>
    <li>Declaring & Initializing String Variables</li>
    <li>Strings with pointers & functions</li>
    <li>String Functions</li>
    <li>Creation of our own string.h</li>
    <li>Array of Strings</li>
    <li>#define(preprocessing work)</li>
</ul></p>
<h5>Structures, Unions, Enum and typedef</h5>      
<p><ul>
    <li>Enum and typedef</li>
    <li>Introduction to Structures</li>
    <li>Defining Structures</li>
    <li>Struct with pointers , arrays, strings and functions</li>
    <li>Array ,strings as Structures Members</li>
    
    <li>Union, Different between Structure & Union</li>
</ul></p>
<h5>File Operations</h5>                      
<p><ul>
    <li>Introduction to files</li>
    <li>Types of Files</li>
    <li>File Pointers</li>
    <li>Opening & Closing Files</li>
    <li>Modifying  & deleting Files</li>
    <li>Interacting with</li>
        <ul><li>text files (ex: .txt, .c, .cpp)</li>
        <li>non text files (ex: .dat, .mpg, .avi, .mp3)</li>
        <li>data base files</li></ul>
    <li>Creating database with file operation</li>
    <li>Command Line Arguments</li>
</ul></p>
<h5>Discussion on FAQs</h5>
</td></tr>
</table>
</td>

</tr>
</table>
<br/>  
<h5><a href="/fee-structure/">CLICK TO VIEW FEE STRUCTURE</a></h5>
      </div>
      <hr class="featurette-divider">
      <!FOOTER>
      <footer>
        <p class="pull-right"><a href="/c-language/">Back to top</a></p>
        <p>&copy; 2014 Horizon Computer Academy, Kolkata &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
      </footer>
{% include 'foot.html' %}
