{% include 'head.html' %}
    <div id="myCarousel" class="carousel slide">
      <div class="carousel-inner">
        <div id="map_canvas">
          
        </div>
      </div>
    </div>
 <div class="container marketing">


<div class="contain">
<h1><u>Contact Us :</u></h1>
<h2><font color="#2b1b17" size="25">Horizon Computer Academy</font></h2>
</div>
<hr class="featurette-divider">
<div class="contain1">
<h2>Head Office:</h2>

<p>Jotbhim,Hatgacha(Near 18Tala Green Field)</p>
<p>New Town, Kolkata - 700 156</p>

<p>(033) 64444941/ 8274901232/ 8274901233</p>
<p>Email--<a href="mailto:horizon.computer47@gmail.com?Subject=Hello" target="_top">
horizon.computer47@gmail.com</a></p>

</div>

 <hr class="featurette-divider">
    
      <!FOOTER>
      <footer>
        <p class="pull-right"><a href="/contact-us/">Back to top</a></p>
        <p>&copy; 2014 Horizon Computer Academy, Kolkata &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
      </footer>

{% include 'foot.html' %}
