{% include 'hrd.html' %}
    <div id="myCarousel" class="carousel slide">
      <div class="carousel-inner">
        </div>
    </div>
 <div class="container marketing">

<div class="featurette">
        <h2 class="featurette-heading"><u>Our Fee Structure</u><span class="muted"></span></h2>
<table>
<tr>
<th>Courses</th>
<th>Durations</th>
<th>Details</th>
</tr>
<tr>
<td>C - Programming</td>
<td>8 Weeks </td>
<td>
<p><ul>
<li><a href="/courses/c">View Course Details</a></li>
<li><a href="/contact-us/">Contact for fee Details</a></li>
</ul></p>
</td></tr>
<tr>
<td>C++</td>
<td>6 Weeks </td>
<td>
<p><ul>
<li><a href="#">View Course Details</a></li>
<li><a href="/contact-us/">Contact for fee Details</a></li>
</ul></p>
</td>
</tr>
</table>
      </div>
      <hr class="featurette-divider">
      <!FOOTER>
      <footer>
        <p class="pull-right"><a href="/fee-structure/">Back to top</a></p>
        <p>&copy; 2014 Horizon Computer Academy, Kolkata &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
      </footer>
{% include 'foot.html' %}
