 {% include 'header.html' %}
    
    <div id="myCarousel" class="carousel slide">
      <div class="carousel-inner">
        <div class="item active">
          <img  class="slidee" src="/static/img/examples/stu.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>Student Signup</h1>
              <p class="lead">Enroll Yourself</p>
         <a class="btn btn-large btn-primary"  href="/accounts/register/">Sign Up</a>
            </div>
          </div>
        </div>

        <div class="item">
          <img  class="slidee" src="/static/img/examples/corse.jpeg" alt=" ">
          <div class="container">
            <div class="carousel-caption">
              <h1>Our Courses</h1>
              <p class="lead">Study All Computer Courses Online</p>
              <a class="btn btn-large btn-primary" href="/courses/">Learn More</a>
            </div>
          </div>
        </div>
        <div class="item">
          <img class="slidee" src="/static/img/examples/faculty.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>Our Faculty</h1>
              <p class="lead">View Our Faculty Members</p>
              <a class="btn btn-large btn-primary" href="#">Browse</a>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div>
    <div class="container marketing">

      <div class="row">
        <div class="span4">
          <img class="img-circle" data-src="holder.js/140x140" src="/static/img/examples/course.jpeg">
          <h2>Our Courses</h2>
          
          <p><a class="btn" href="/courses/">View details &raquo;</a></p>
        </div>

        <div class="span4">
          <img class="img-circle" data-src="holder.js/140x140" src="/static/img/examples/training.jpeg">
          <h2>Training</h2>
          <p><a class="btn" href="#">View details &raquo;</a></p>
        </div>
        <div class="span4">
          <img class="img-circle" data-src="holder.js/140x140" src="/static/img/examples/projects.jpeg">
          <h2>Projects</h2>
        <p><a class="btn" href="#">View details &raquo;</a></p>
        </div>
      </div>
 
   <hr class="featurette-divider">
      <!FOOTER>
      <footer class="foot">
        <p class="pull-right"><a href="/">Back to top</a></p>
        <p>&copy; 2014 Horizon Computer Academy, Kolkata &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
      </footer>
{% include 'foot.html' %}
